body {
    margin: 0px;
    padding: 0px;
    background: rgb(240, 240, 240);
}
.msg-enviada {
    text-align: center;
    margin-top: 20rem;
    font-weight: bold;
    font-family: RobotoFlex;
    letter-spacing: 3px;
    color: rgb(179, 123, 19);
}

.button1 {
    background: rgb(43, 51, 124);
    color: rgb(214, 214, 214);
    width: 150px;
    height: 25px;
    border-radius: 4px;
    margin-top: 2rem;
    font-family: Cairo-VariableFont;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 52.5rem;
}

@font-face {
    font-family: RobotoFlex;
    src: url(/fonts/RobotoFlex[GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght].ttf);
}

@font-face {
    font-family: Cairo-VariableFont;
    src: url(./fonts/Cairo-VariableFont_wght.ttf);
}