* {
    margin: 0px;
    padding: 0px;
}

#main {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 75.52%, rgba(196, 196, 196, 0.29) 100%);
    list-style: none;
    width: 100%;
    height: 6rem;
    overflow: hidden;
}

#main img {
    margin-top: -2rem;
    margin-left: 24.5rem;
    width: 160px;
    cursor: pointer;
}

#main ul {
    margin-right: 28.5rem;
}

#main ul li {
    display: inline;
    float: left;
    width: 80px;
    height: 5px;
    margin-top: 2.5rem;
    align-items: center;
}

#main ul li a {
    display: inline-block;
    text-decoration: none;
    color: #0C1541;
    font-family: RobotoFlex;
    font-size: 0.9rem;
}

#main ul li a:hover {
    color: rgb(122, 112, 82);
}

#space {
    margin-right: 0.7rem;
}

@font-face {
    font-family: RobotoFlex;
    src: url('./fonts/RobotoFlex[GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght].ttf');
}

section{
    margin-top: -6rem;
}

.FixoNoTopo {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
}

.highlights {
    margin-left: 51rem;
    margin-top: 15rem;
}

.highlights p {
    font-size: 20px;
    color: rgba(52, 37, 77, 1);
    font-family: cairo-bold;
}

.text-grid {
    grid-template-columns: repeat(3, 200px);
    display: grid;
    margin-top: 12rem;
    margin-left: 30rem;
    grid-column-gap: 8rem;
    grid-row-gap: 32.5rem;
    cursor: pointer;
    text-align: center;
}

.text-grid p {
    z-index: 1000;
    color: #ffffff;
    font-family: RobotoMono-VariableFont;
    font-weight: bold;
    letter-spacing: 1.8px;
    font-size: 12px;
    -moz-transition: all 0.5s; /*para evitar problemas de compatibilidade*/
	-webkit-transition: all 0.5s;/*para evitar problemas de compatibilidade*/
	transition: all 0.5s;/*para evitar problemas de compatibilidade*/
}

.text-grid p:hover {
    color: #ffeaa6;
    -moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.grid {
    grid-template-columns: repeat(3, 200px);
    display: grid;
    margin-top: -40rem;
    margin-left: 30rem;
    grid-column-gap: 8rem;
    grid-row-gap: 7rem;
}

.grid img {
    width: 200px;
    height: 200px; 
    border-radius: 10px 10px 0px 0px; 
    filter: brightness(30%);
    -webkit-filter: brightness(30%);
    -moz-filter: brightness(30%);
    -o-filter: brightness(30%);
    -ms-filter: brightness(30%);
}

.description {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    display: grid;
    margin: 1rem;
    margin-left: 0.95rem;
}

.description p{
    font-size: 14px;
}

#measure {
    display: flex;
}

#toilet {
    display: flex;
}

#bedroom {
    display: flex;
}

#bedroom {
    display: flex;
}

#garage {
    display: flex;
}

.fa-ruler-vertical {
    color: rgb(0, 0, 0);
    margin-right: 5px;
    margin-left: 10px;
}

.fa-bath {
    margin-right: 5px;
    margin-left: 13px;
}

.fa-bed {
    margin-right: 5px;
}

.fa-car {
    margin-right: 5px;
    margin-left: 13px;
}

#price {
    margin-left: 4rem;
    color: #040A20;
}

#localization {
    margin-left: 3.2rem;
    margin-top: 4px;
    color: #6C6C6C;
    font-size: 14px;
}

#box-1 {
    background: linear-gradient(180deg, #E3E3E3 0%, rgba(227, 227, 227, 0) 100%);
    border-radius: 0px 0px 40px 40px;
    height: 25rem;
    border-radius: 10px 10px 0px 0px; 
}

#box-2 {
    background: linear-gradient(180deg, #E3E3E3 0%, rgba(227, 227, 227, 0) 100%);
    border-radius: 0px 0px 40px 40px;
    height: 25rem;
    border-radius: 10px 10px 0px 0px; 
}

#box-3 {
    background: linear-gradient(180deg, #E3E3E3 0%, rgba(227, 227, 227, 0) 100%);
    border-radius: 0px 0px 40px 40px;
    height: 25rem;
    border-radius: 10px 10px 0px 0px; 
}

#box-4 {
    background: linear-gradient(180deg, #E3E3E3 0%, rgba(227, 227, 227, 0) 100%);
    border-radius: 0px 0px 40px 40px;
    height: 25rem;
    border-radius: 10px 10px 0px 0px; 
}

#box-5 {
    background: linear-gradient(180deg, #E3E3E3 0%, rgba(227, 227, 227, 0) 100%);
    border-radius: 0px 0px 40px 40px;
    height: 25rem;
    border-radius: 10px 10px 0px 0px; 
}

#box-6 {
    background: linear-gradient(180deg, #E3E3E3 0%, rgba(227, 227, 227, 0) 100%);
    border-radius: 0px 0px 40px 40px;
    height: 25rem;
    border-radius: 10px 10px 0px 0px; 
}

.button-sales {
    margin-left: 23.5rem;
    width: 7rem;
    height: 1.9rem;
    margin-top: -3rem;
    background-color: #b9912cde;
    color: #FFFFFF;
    border: 2px  #b9912cde;
    border-radius: 3px;
    font-family: RobotoMono-VariableFont;
    cursor: pointer;
}

.button-sales:hover {
    background-color: #ffe59e;
    color: rgb(60, 68, 82);
}

@font-face {
    font-family: cairo-bold;
    src: url('./fonts/cairo-bold.ttf');
}

@font-face {
    font-family: BeVietnamPro-Bold;
    src: url(./fonts/BeVietnamPro-Bold.ttf);
}

@font-face {
    font-family: RobotoMono-VariableFont;
    src: url(./fonts/RobotoMono-VariableFont_wght.ttf);
}

.contact-1 p {
    display: flex;
    font-size: 20px;
    color: rgba(52, 37, 77, 1);
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
    font-family: cairo-bold;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-right: 0.5rem;
    
}

.fa-facebook-f {
    font-size: 2rem;
    margin-right: 2rem;
    color: #878685;
}

.fa-whatsapp {
    font-size: 2rem;
    margin-right: 2rem;
    color: #878685;
}

.fa-envelope {
    font-size: 2rem;
    color: #878685;
}

.base {
    background: #191525;
    margin-top: 8rem;
    width: 100%;
    height: 3rem;
    display: flex;
}

@font-face {
    font-family: Cairo-VariableFont_wght;
    src: url(./fonts/Cairo-VariableFont_wght.ttf);
}

#copyright {
    margin-left: 7.5rem;
    margin-top: 0.8rem;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-family: Cairo-VariableFont_wght;
}

#by {
    margin-top: 0.8rem;
}

#by a {
    margin-left: 75rem;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.8rem;
    font-family: Cairo-VariableFont_wght;
}

@media (max-width: 2560px){

    .container-all {
        margin-left: 22rem;
    }

    #main img {
        margin-top: 5rem;
        margin-left: 46rem;
    }
    
    #main ul {
        margin-top: -7.9rem;
    }

    #main ul li a {
        font-size: 1.1rem;
        margin-left: 81rem;
    }

    #main ul li {
        justify-content: space-evenly;
        margin-left: 0.4rem;
    }

    .contact-1 p {
        display: flex;
        font-size: 20px;
        color: rgba(52, 37, 77, 1);
        align-items: center;
        justify-content: center;
        margin-top: 15rem;
        font-family: cairo-bold;
    }

    #copyright {
        margin-left: 10rem;
    }

    #by a {
        margin-left: 90rem;
    }
}

@media (max-width: 1920px){
    .container-all {
        margin-left: 2rem;
    }

    #main img {
        margin-top: 4.8rem;
        margin-left: 27.2rem;
    }
    
    #main ul {
        margin-top: -7.8rem;
    }

    #main ul li a {
        font-size: 0.95rem;
        margin-left: 61.5rem;
    }

    #copyright {
        margin-left: 15rem;
    }

    #by a {
        margin-left: 60rem;
    }
}

@media (max-width: 1900px){
    .container-all {
        margin-left: 0.4rem;
    }

    #main ul img {
        margin-left: 27rem;
        margin-top: 5rem;
        width: 130px;
    }

    #main ul li a {
        font-size: 0.80rem;
        margin-left: 68rem;
    }

    #main ul li {
        margin-left: -1rem;
        justify-content: space-evenly;
    }

    #main ul {
        margin-top: -7rem;
        margin-right: 27rem;
    }
}
@media (max-width: 1440px){
    html, body {
        overflow-x: hidden;
    }
    .container-all {
        margin-left: -13rem;
    }
    
    #main ul img {
        margin-left: 12.5rem;
        margin-top: 5rem;
        width: 130px;
    }

    #main ul li a {
        font-size: 0.80rem;
        margin-left: 54rem;
    }

    #main ul li {
        margin-left: -1rem;
        justify-content: space-evenly;
    }

    #main ul {
        margin-top: -7rem;
        margin-right: 26.8rem;
    }

    #copyright {
        margin-left: 8rem;
    }

    #by a {
        margin-left: 50rem;
    }
}
@media (max-width: 1280px){
    *{
        max-width: 1280px;
    }

    .container-all {
        margin-left: -17.9rem;
    }

    #main img {
        margin-top: -2rem;
        margin-left: 9rem;
    }
    
    #main ul img {
        margin-left: 9rem;
        margin-top: 5rem;
        width: 130px;
    }

    #main ul li a {
        font-size: 0.80rem;
        margin-left: 48rem;
    }

    #main ul li {
        margin-left: -1rem;
        justify-content: space-evenly;
    }

    #main ul {
        margin-top: -7rem;
    }

    #copyright {
        margin-left: 8rem;
    }

    #by a {
        margin-left: 40rem;
    }
}

@media (max-width: 1024px){
    * {
        max-width: 1024px;
    }

    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: -25.5rem;
    }

    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 55rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 15rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 15rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 45%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }

     #nav.active #menu1 {
        display: flex;
        margin-right: -2rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: 3rem;
        margin-top: 6rem;
        width: 130px;
    }

    #main ul li a {
        margin-left: 3.5rem;
        font-size: 1.1rem;
    }

    #main ul li {
        margin-bottom: 1rem;
    }
    
    .contact-1 p {
        margin-top: 10rem;
    }

    .base {
        width: 100%;
    }

    #copyright {
        margin-left: 2rem;
    }

    #by a {
        margin-left: 36rem;
    }
}

@media (max-width: 768px){
    * {
        max-width: 768px;
    }

    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: -33rem;
        margin-top: -5rem;
    }

    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 43rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 13rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 13rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 45%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }


  
     #nav.active #menu1 {
        display: flex;
        margin-right: -2rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: 1rem;
        margin-top: 6rem;
        width: 130px;
    }

    #main ul li a {
        margin-left: 1rem;
        
    }

    .highlights p {
        width: 40rem;
        margin-top: 5rem;
    }

    .grid {
        grid-template-columns: repeat(2, 200px);
        display: grid;
        margin-top: -74rem;
        margin-left: 40.2rem;
        grid-column-gap: 8rem;
        grid-row-gap: 7rem;
    }

    .text-grid {
        grid-template-columns: repeat(2, 200px);
        display: grid;
        margin-top: 12rem;
        margin-left: 40rem;
        grid-column-gap: 8rem;
        grid-row-gap: 32.5rem;
        cursor: pointer;
        text-align: center;
    }

    .text-grid p {
        z-index: 1000;
        color: #ffffff;
        font-family: RobotoMono-VariableFont;
        font-weight: bold;
        letter-spacing: 1.8px;
        font-size: 12px;
        -moz-transition: all 0.5s; /*para evitar problemas de compatibilidade*/
        -webkit-transition: all 0.5s;/*para evitar problemas de compatibilidade*/
        transition: all 0.5s;/*para evitar problemas de compatibilidade*/
    }

    .text-grid p:hover {
        color: #ffeaa6;
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    .button-sales {
        margin-left: 12.5rem;
    }

    section {
        margin-top: 2rem;
    }

    .contact-1 p {
        margin-top: 15rem;
    }

    .base {
        width: 100%;
    }

    #copyright {
        margin-left: 2rem;
        font-size: 0.7rem;
    }

    #by a {
        margin-left: 23rem;
        font-size: 0.7rem;
    }
}

@media (max-width: 720px){
    * {
        max-width: 720px;
    }

    #btn-mobile {
        margin-left: 40rem;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 11.5rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 11.5rem;
     }

    .base {
        width: 100%;
    }

    .container-all {
        margin-left: -34.5rem;
    }

    #copyright {
        margin-left: 2rem;
        font-size: 0.65rem;
    }

    #by a {
        margin-left: 21rem;
        font-size: 0.65rem;
    }

}

@media (max-width: 425px){
    * {
        max-width: 425px;
    }

    html, body {
        overflow-x: hidden;
     }

    .container-all {
        margin-left: -40.5rem;
        margin-top: -8rem;
    }

    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 23rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 10.5rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 10.5rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 60%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }


  
     #nav.active #menu1 {
        display: flex;
        margin-right: 0rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: 0rem;
        margin-top: 6.8rem;
        width: 110px;
    }

    #main ul li a {
        margin-left: -1rem;
    }

    .highlights p {
        margin-left: -3rem;
        margin-top: 5rem;
        margin-bottom: 12rem;
    }

   .grid {
        grid-template-columns: repeat(2, 150px);
        display: grid;
        margin-top: -56.5rem;
        margin-left: 42.3rem;
        grid-column-gap: 3rem;
        grid-row-gap: 5.5rem;
   }

   .grid img {
        width: 150px;
        height: 150px; 
        border-radius: 10px 10px 0px 0px; 
        filter: brightness(30%);
        -webkit-filter: brightness(30%);
        -moz-filter: brightness(30%);
        -o-filter: brightness(30%);
        -ms-filter: brightness(30%);
        cursor: pointer;
    }

    .text-grid {
        grid-template-columns: repeat(2, 150px);
        display: grid;
        margin-top: 10rem;
        margin-left: 42.5rem;
        grid-column-gap: 2.5rem;
        grid-row-gap: 24.5rem;
        cursor: pointer;
        text-align: center;
    }


#box-1 {
    background: linear-gradient(180deg, #E3E3E3 0%, rgba(227, 227, 227, 0) 100%);
    border-radius: 0px 0px 40px 40px;
    height: 20rem;
    border-radius: 10px 10px 0px 0px; 
}

#box-2 {
    background: linear-gradient(180deg, #E3E3E3 0%, rgba(227, 227, 227, 0) 100%);
    border-radius: 0px 0px 40px 40px;
    height: 20rem;
    border-radius: 10px 10px 0px 0px; 
}

#box-3 {
    background: linear-gradient(180deg, #E3E3E3 0%, rgba(227, 227, 227, 0) 100%);
    border-radius: 0px 0px 40px 40px;
    height: 20rem;
    border-radius: 10px 10px 0px 0px; 
}

#box-4 {
    background: linear-gradient(180deg, #E3E3E3 0%, rgba(227, 227, 227, 0) 100%);
    border-radius: 0px 0px 40px 40px;
    height: 20rem;
    border-radius: 10px 10px 0px 0px; 
}

#box-5 {
    background: linear-gradient(180deg, #E3E3E3 0%, rgba(227, 227, 227, 0) 100%);
    border-radius: 0px 0px 40px 40px;
    height: 20rem;
    border-radius: 10px 10px 0px 0px; 
}

#box-6 {
    background: linear-gradient(180deg, #E3E3E3 0%, rgba(227, 227, 227, 0) 100%);
    border-radius: 0px 0px 40px 40px;
    height: 20rem;
    border-radius: 10px 10px 0px 0px; 
}

    #price {
    margin-left: 2.3rem;
    font-size: 15.5px;
    }

    #localization {
        margin-left: 2rem;
        font-size: 12px;
    }

    .description {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        display: grid;
        margin: 0.5rem;
        margin-left: 0.95rem;
    }
    
    .description p{
        font-size: 10px;
    }
    
    .fa-ruler-vertical {
        color: rgb(0, 0, 0);
        margin-right: 5px;
        margin-left: 1px;
    }
    
    .fa-bath {
        margin-right: 5px;
        margin-left: 6px;
    }
    
    .fa-bed {
        margin-right: 5px;
        margin-left: -5px;
    }
    
    .fa-car {
        margin-right: 5px;
        margin-left: 5px;
    }
    
    .button-sales {
        margin-left: 7.7rem;
    }

    .contact-1 p {
        margin-top: 13rem;
        font-size: 15px;
    }

    .contact {
        margin-top: 3rem;
    }

    .fa-facebook-f {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-whatsapp {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-envelope {
        font-size: 1rem;
        color: #878685;
    }

    .base {
        width: 100%;
        height: 4rem;
        display: inline-block;
        text-align: center;
        margin-top: 12.5rem;
    }

    #copyright {
        margin-left: 0rem;
        font-size: 0.7rem;
        margin-top: 1.2rem;
        line-height: 1px;
    }

    #by a {
        margin-left: 0rem;
        font-size: 0.6rem;
    }
}

@media (max-width: 412px){
    * {
        max-width: 412px;
    }

    .container-all{
        margin-left: -41rem;
    }

    #img22 {
        width: 500px;
        height: 240px;
        margin-left: 36.8rem;
    }

    #about {
        margin-left: 49rem;
    }
}

@media (max-width: 375px){
    * {
        max-width: 375px;
    }

    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: -41.8rem;
        margin-top: -8rem;
    }

    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 20rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 12rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 12rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 80%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }


  
     #nav.active #menu1 {
        display: flex;
        margin-right: -2rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: -0.5rem;
        margin-top: 6.8rem;
        width: 110px;
    }

    #main ul li a {
        margin-left: -0.5rem;
    }

    .highlights p {
        margin-left: -4rem;
    }

    .grid {
        grid-template-columns: repeat(2, 150px);
        display: grid;
        margin-top: -49rem;
        margin-left: 43.1rem;
        grid-column-gap: 1rem;
        grid-row-gap: 2rem;
   }

   .text-grid {
    grid-template-columns: repeat(2, 150px);
    display: grid;
    margin-top: 5rem;
    margin-left: 43.1rem;
    grid-column-gap: 1rem;
    grid-row-gap: 21rem;
    cursor: pointer;
    text-align: center;
}

   .button-sales {
        margin-left: 7.2rem;
   }

    .contact-1 p {
        margin-top: 12rem;
        font-size: 15px;
    }

    .contact {
        margin-top: 3rem;
    }

    .fa-facebook-f {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-whatsapp {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-envelope {
        font-size: 1rem;
        color: #878685;
    }

    .base {
        width: 100%;
        height: 3.5rem;
        display: inline-block;
        text-align: center;
        margin-top: 12.9rem;
    }

    #copyright {
        margin-left: 0rem;
        font-size: 0.7rem;
        margin-top: 1rem;
        line-height: 1px;
    }

    #by a {
        margin-left: 0rem;
        font-size: 0.6rem;
    }
}

