.slide{
    margin-left: 25rem;
    width: 1000px;
    height: 576px;
    overflow: hidden;
    transition: all 0.4s;
}

.slides{
    width: 1000px;
    display: flex;
}

.image img {
    width: 1000px;
    height: 446px;
    margin-top: -1.2rem;
}

#atual{
    transition: all 2s;
}

.balls{
    color: rgb(0, 0, 0);
    position: absolute;
    width: 1024px;
    display: flex;
    justify-content: center;
    margin-top: -1rem;
}

.balls div{
    transition: all 0.5s;
    border: 2px solid rgb(145, 123, 52);
    padding: 3px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.balls div:hover{
    background: rgb(201, 200, 200);
}

.imgAtual{
    transition: all 0.5s;
    background: #fff;
}


