* {
    margin: 0;
    padding: 0;
}

#main {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 75.52%, rgba(196, 196, 196, 0.29) 100%);
    list-style: none;
    width: 100%;
    height: 6rem;
    overflow: hidden;
}

#main img {
    margin-top: -2rem;
    margin-left: 24.5rem;
    width: 160px;
    cursor: pointer;
}

#main ul {
    margin-right: 28.5rem;
}

#main ul li {
    display: inline;
    float: left;
    width: 80px;
    height: 5px;
    margin-top: 2.5rem;
    align-items: center;
}

#main ul li a {
    display: inline-block;
    text-decoration: none;
    color: #0C1541;
    font-family: RobotoFlex;
    font-size: 0.9rem;
}

#main ul li a:hover {
    color: rgb(122, 112, 82);
}

#space {
    margin-right: 0.7rem;
}

@font-face {
    font-family: RobotoFlex;
    src: url('./fonts/RobotoFlex[GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght].ttf');
}

.principal img {
    margin-top: 15rem;
    height: 1000px;
}

.FixoNoTopo {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
}

.slide{
    margin-left: 25rem;
    width: 1000px;
    height: 576px;
    overflow: hidden;
    transition: all 0.4s;
}

.slides{
    width: 1000px;
    height: 446px;
    display: flex;
    margin-top: -1rem;
}

.image img {
    width: 1000px;
    height: 446px;
    margin-top: -1rem;
}

#atual{
    transition: all 2s;
}

.balls{
    color: rgb(0, 0, 0);
    position: absolute;
    width: 1024px;
    display: flex;
    justify-content: center;
    margin-top: -1rem;
}

.balls div{
    transition: all 0.5s;
    border: 2px solid rgb(172, 148, 42);
    opacity: 40%;
    padding: 3.2px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.balls div:hover{
    background: rgb(185, 177, 52);
}

.imgAtual{
    transition: all 0.5s;
    background: rgb(235, 235, 235);
}

section{
    margin-top: -6rem;
}

.profile {
    background: linear-gradient(180deg, #FFFFFF 1.56%, #FEF1F1 42.71%, rgba(249, 239, 239, 0) 100%);
    width: 1000px;
    height: 30rem;
    margin-left: 25rem;
    top: 35rem;
}

#about {
    font-size: 20px;
    color: rgba(52, 37, 77, 1);
    margin-left: 52.8rem;
    margin-top: 3rem;
    font-family: cairo-bold;
}

section img {
    width: auto;
    height: 20rem; 
    margin-left: 31rem;
    margin-top: 3rem;   
    float: left;
}

.img-profile p {
    color: rgba(88, 82, 97, 1);
    font-family: cairo;
    margin-top: 3rem;
    margin-left: -19rem;
    font-style: normal;
}

.fonts {
    margin-left: 28rem;
    margin-top: 4rem;
}

.fonts p {
    margin-bottom: 2rem;
    color: rgba(88, 82, 97, 1);
    font-family: cairo;
}

@font-face {
    font-family: cairo-bold;
    src: url('./fonts/cairo-bold.ttf');
}

#font1 {
    color: rgba(88, 82, 97, 1);
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0.4rem;
    line-height: 2rem;
    font-family: cairo-bold;
    font-weight: bold;
    width: 25rem;
    text-align: justify;
}

#font2 {
    color: rgba(88, 82, 97, 1);
    font-size: 20px;
    font-family: cairo-bold;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.up {
    background: linear-gradient(180deg, #FFFFFF 1.56%, #FEF1F1 42.71%, rgba(249, 239, 239, 0) 100%);
    width: 1000px;
    height: 35rem;
    margin-left: 25rem;
    top: 65rem;
    display: flex;
    margin-bottom: 20rem;
}

.contact-1 p {
    display: flex;
    font-size: 20px;
    color: rgba(52, 37, 77, 1);
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    font-family: cairo-bold;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-right: 0.5rem;
    
}

.fa-facebook-f {
    font-size: 2rem;
    margin-right: 2rem;
    color: #878685;
}

.fa-whatsapp {
    font-size: 2rem;
    margin-right: 2rem;
    color: #878685;
}

.fa-envelope {
    font-size: 2rem;
    color: #878685;
}

.base {
    background: #191525;
    margin-top: 8rem;
    width: 100%;
    height: 3rem;
    display: flex;
}

@font-face {
    font-family: Cairo-VariableFont_wght;
    src: url(./fonts/Cairo-VariableFont_wght.ttf);
}

#copyright {
    margin-left: 7.5rem;
    margin-top: 0.8rem;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-family: Cairo-VariableFont_wght;
}

#by {
    margin-top: 0.8rem;
}

#by a {
    margin-left: 75rem;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.8rem;
    font-family: Cairo-VariableFont_wght;
}

@media (max-width: 2560px){

    .container-all {
        margin-left: 21rem;
    }

    #main ul img {
        margin-top: 5rem;
        margin-left: 45.5rem;
    }

    .fonts p {
        margin-top: 3rem;
        color: rgba(88, 82, 97, 1);
        font-family: cairo;
    }

    .fonts {
        margin-left: 30rem;
        margin-top: -20rem;
    }

    #font1 {
        font-size: 1.1rem;
    }

    section img {
        width: auto;
        height: 20rem; 
        margin-left: 6rem;
        margin-top: 3rem;   
        float: left;
    }

    .legend p {
        color: rgba(88, 82, 97, 1);
        font-family: cairo;
    }

    .legend {
        width: 7rem;
        margin-left: 9rem;
        color: rgba(88, 82, 97, 1);
        font-style: normal;
    }

    #main ul {
        margin-top: -7.9rem;
    }

    #main ul li a {
        font-size: 1.1rem;
        margin-left: 79.3rem;
    }

    #main ul li {
        justify-content: space-evenly;
        margin-left: 0.4rem;
    }

    #copyright {
        margin-left: 25rem;
    }

    #by a {
        margin-left: 90rem;
    }
}

@media (max-width: 1920px){
    .container-all {
        margin-left: 2rem;
    }

    #main ul img {
        margin-top: 4.8rem;
        margin-left: 27rem;
    }
    
    #main ul {
        margin-top: -7.8rem;
    }

    #main ul li a {
        font-size: 0.95rem;
        margin-left: 61rem;
    }

    #copyright {
        margin-left: 15rem;
    }

    #by a {
        margin-left: 60rem;
    }
}

@media (max-width: 1900px){
    .container-all {
        margin-left: 1.8rem;
    }

    #main ul img {
        margin-left: 27rem;
        margin-top: 5rem;
        width: 130px;
    }

    #main ul li a {
        font-size: 0.80rem;
        margin-left: 68rem;
    }

    #main ul li {
        margin-left: -1rem;
        justify-content: space-evenly;
    }

    #main ul {
        margin-top: -7rem;
        margin-right: 27rem;
    }
}

@media (max-width: 1680px){
    .container-all {
        margin-left: -3.7em;
    }

    #main ul li a {
        margin-left: 56.1rem;
        font-size: 1.1rem;
    }

    #main ul img {
        margin-left: 21.5rem;
        margin-top: 5rem;
        width: 130px;
    }

    #main ul li {
        margin-left: -1rem;
        justify-content: space-evenly;
        width: 100px;
    }

    #main ul {
        margin-top: -7rem;
        margin-right: 23rem;
    }

    #copyright {
        margin-left: 7.5rem;
        margin-top: 0.8rem;
        color: #FFFFFF;
        font-size: 0.8rem;
        font-family: Cairo-VariableFont_wght;
    }
    
    .base {
        background: #191525;
        margin-top: 32.39rem;
        width: 100%;
        height: 3rem;
        display: flex;
    }

    #by {
        margin-top: 0.8rem;
    }
    
    #by a {
        margin-left: 65rem;
        color: #FFFFFF;
        text-decoration: none;
        font-size: 0.8rem;
        font-family: Cairo-VariableFont_wght;
    }
}

@media (max-width: 1600px){
    .container-all {
        margin-left: -6rem;
    }

    #main ul img {
        margin-left: 17.5rem;
        margin-top: 5rem;
        width: 130px;
    }

    #main ul li {
        margin-left: -1rem;
        justify-content: space-evenly;
        width: 100px;
    }

    #main ul li a {
        margin-left: 49rem;
        font-size: 1.1rem;
    }

    #by a {
        margin-left: 60.5rem;
        color: #FFFFFF;
        text-decoration: none;
        font-size: 0.8rem;
        font-family: Cairo-VariableFont_wght;
    }
    
}

@media (max-width: 1440px){
    html, body {
        overflow-x: hidden;
    }
    .container-all {
        margin-left: -11.5rem;
    }
    
    #main ul img {
        margin-left: 12.5rem;
        margin-top: 5rem;
        width: 130px;
    }

    #main ul li a {
        font-size: 0.80rem;
        margin-left: 49rem;
    }

    #main ul li {
        margin-left: -2rem;
        justify-content: space-evenly;
    }

    #main ul {
        margin-top: -7rem;
        margin-right: 26.8rem;
    }

    #copyright {
        margin-left: 8rem;
    }

    #by a {
        margin-left: 50rem;
    }
}
@media (max-width: 1280px){
    *{
        max-width: 1280px;
    }

    .container-all {
        margin-left: -16.5rem;
    }

    #main img {
        margin-top: -2rem;
        margin-left: 9rem;
    }
    
    #main ul img {
        margin-left: 7.5rem;
        margin-top: 5rem;
        width: 130px;
    }

    #main ul li a {
        font-size: 0.80rem;
        margin-left: 47rem;
    }

    #main ul li {
        margin-left: -2.5rem;
        justify-content: space-evenly;
    }

    #main ul {
        margin-top: -7rem;
    }

    #copyright {
        margin-left: 8rem;
    }

    #by a {
        margin-left: 39rem;
    }
}

@media (max-width: 1024px){
    * {
        max-width: 1024px;
    }

    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: -26rem;
    }

    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 51rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    .fonts {
        margin-left: 22rem;
        margin-top: -27rem;
    }

    #font1 {
        font-size: 1.1rem;
    }

    section img {
        width: auto;
        height: 20rem; 
        margin-left: 5rem;
        margin-top: 5rem;   
        float: left;
    }

    .legend p {
        color: rgba(88, 82, 97, 1);
        font-family: cairo;
    }

    .legend {
        width: 7rem;
        margin-left: 8rem;
        color: rgba(88, 82, 97, 1);
        font-style: normal;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 13rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 13rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 45%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }

     #nav.active #menu1 {
        display: flex;
        margin-right: -2rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: 3.8rem;
        margin-top: 6rem;
        width: 130px;
    }

    #main ul li a {
        margin-left: 3.5rem;
        font-size: 1.1rem;
    }

    #main ul li {
        margin-bottom: 1rem;
    }


    .slide {
        display: flex;
        overflow: hidden;
        width: 800px;
        height: 340px;
        margin-left: 31.5rem;
        transition: all 0.4s;
    }

    .slides {
        width: 800px;
        height: 340px;
        display: flex;
    }

    #atual img {
        width: 800px;
        height: 340px;
        margin-left: 1rem;
    }

    .image img {
        width: 800px;
        height: 340px;
        margin-left: 12.3rem;
    }

    .balls {
        margin-top: -7rem;
        display: flex;
        margin-left: -6.6rem;
    }

    .profile {
        margin-top: 2rem;
        width: 800px;
        margin-left: 32rem;
    }

    section {
        margin-left: 0rem;
    }

    #about {
        margin-top: 10rem;
    }

    .img-profile p {
        margin-top: -2rem;
        margin-left: -15rem;
    }

    .fonts p {
        margin-top: 8rem;
        color: rgba(88, 82, 97, 1);
        font-family: cairo;
    }

    #title {
        margin-top: -1rem;
    }

    .up {
        width: 800px;
        margin-left: 32rem;
    }

    .up img {
        margin-left: 5rem;
    }

    .contact-1 p {
        margin-top: 5rem;
    }

    .base {
        width: 100%;
    }

    #copyright {
        margin-left: 2rem;
    }

    #by a {
        margin-left: 36rem;
    }
}

@media (max-width: 800px){
    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: -32.5rem;
    }

    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 42rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 15rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 15rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 55%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }

     #nav.active #menu1 {
        display: flex;
        margin-right: -2rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: -2rem;
        margin-top: 6rem;
        width: 130px;
    }

    #main ul li a {
        margin-left: 3.5rem;
        font-size: 1.1rem;
    }

    #main ul li {
        margin-bottom: 1rem;
    }


    .slide {
        display: flex;
        overflow: hidden;
        width: 800px;
        height: 340px;
        margin-left: 31.5rem;
        transition: all 0.4s;
    }

    .slides {
        width: 800px;
        height: 340px;
        display: flex;
    }

    #atual img {
        width: 800px;
        height: 340px;
        margin-left: 0.7rem;
    }

    .image img {
        width: 800px;
        height: 340px;
        margin-left: 12.13rem;
    }

    #img22 {
        margin-left: 0.5rem;
    }

    .balls {
        margin-top: -7rem;
        display: flex;
        margin-left: -6.6rem;
    }

    .profile {
        margin-top: 3rem;
        width: 800px;
        margin-left: 32rem;
    }

    section {
        margin-left: 0rem;
    }

    #about {
        margin-top: 10rem;
    }

    section img {
        width: auto;
        height: 17rem;
        margin-top: 5rem;
        margin-left: 37rem;
    }

    .img-profile p {
        margin-top: -2rem;
        margin-left: -15rem;
    }


    .fonts {
        margin-left: 22rem;
        margin-top: -27rem;
    }

    #font1 {
        font-size: 1.1rem;
    }

    section img {
        width: auto;
        height: 20rem; 
        margin-left: 5rem;
        margin-top: 5rem;   
        float: left;
    }

    .legend p {
        font-size: 0.8rem;
        margin-left: 0.5rem;
        width: 10rem;
    }

    .fonts p {
        margin-top: 8rem;
        color: rgba(88, 82, 97, 1);
        font-family: cairo;
    }

    
    #title {
        margin-top: -1rem;
    }

    .up {
        width: 800px;
        margin-left: 32rem;
    }

    .up img {
        margin-left: 5rem;
    }

    .contact-1 p {
        margin-top: 5rem;
    }

    .base {
        width: 100%;
    }

    #copyright {
        margin-left: 2rem;
    }

    #by a {
        margin-left: 21.5rem;
    }
}


@media (max-width: 768px){
    * {
        max-width: 768px;
    }

    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: -33rem;
    }

    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 35.5rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }


    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 6rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 6rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 45%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }


  
     #nav.active #menu1 {
        display: flex;
        margin-right: -2rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: 6rem;
        margin-top: 6rem;
        width: 130px;
    }

    #main ul li a {
        margin-left: 1rem;
        
    }

    .slide {
        display: flex;
        overflow: hidden;
        width: 500px;
        height: 240px;
        margin-left: 41rem;
        transition: all 0.4s;
    }

    .slides {
        width: 500px;
        height: 240px;
        display: flex;
    }

    #atual img {
        width: 500px;
        height: 240px;
        margin-left: 0rem;
    }

    .image img{
        width: 500px;
        height: 240px;
        margin-left: 31.2rem;
    }

    #img22 {
        width: 500px;
        height: 240px;
        margin-left: 14.5rem;
    }

    .balls {
        margin-top: 14rem;
        display: flex;
        margin-left: -7rem;
    }

    section {
        margin-top: 10rem;
    }

    .profile {
        margin-top: 1rem;
        width: 500px;
        margin-left: 41rem;
    }

    .fonts {
        margin-left: 15rem;
        margin-top: -33rem;
    }

    #font1 {
        font-size: 1.1rem;
    }

    section img {
        width: auto;
        height: 15rem; 
        margin-left: 2rem;
        margin-top: 5rem;   
        float: left;
    }

    .legend p {
        color: rgba(88, 82, 97, 1);
        font-family: cairo;
        margin-left: -4rem;
        margin-top: 2rem;

    }

    .legend {
        width: 9rem;
        color: rgba(88, 82, 97, 1);
        font-style: normal;
    }

    #about {
        font-size: 17px;
        width: 40rem;
        margin-top: -5rem;
    }


    #font1 {
        margin-top: 18rem;
        font-size: 0.7rem;
        width: 14rem;

    }

    .contact-1 p {
        margin-top: 2rem;
    }

    .base {
        width: 100%;
    }

    #copyright {
        margin-left: 2rem;
        font-size: 0.7rem;
    }

    #by a {
        margin-left: 23rem;
        font-size: 0.7rem;
    }
}

@media (max-width: 720px){
    * {
        max-width: 720px;
    }

    .base {
        width: 100%;
    }

    .container-all {
        margin-left: -34rem;
    }

    .legend p {
        color: rgba(88, 82, 97, 1);
        font-family: cairo;
    }

    #main ul img {
        margin-left: 4.5rem;
    }

    #btn-mobile {
        margin-left: 35rem;
    }

    .profile {
        margin-top: -18rem;
        width: 500px;
        margin-left: 41rem;
    }

    .legend {
        width: 15rem;
        margin-left: 8rem;
        color: rgba(88, 82, 97, 1);
        font-style: normal;
        margin-top: 16rem;
    }

    #img22 {
        width: 500px;
        height: 240px;
        margin-left: 17.5rem;
    }

    #copyright {
        margin-left: 2rem;
        font-size: 0.65rem;
    }

    #by a {
        margin-left: 21rem;
        font-size: 0.65rem;
    }

}

@media (max-width: 600px){
    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: -38.29rem;
    }

    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 30.3rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 12rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 12rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 65%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }


  
     #nav.active #menu1 {
        display: flex;
        margin-right: -2rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: 0.8rem;
        margin-top: 6rem;
        width: 130px;
    }

    #main ul li a {
        margin-left: 1rem;
        
    }

    .slide {
        display: flex;
        overflow: hidden;
        width: 500px;
        height: 240px;
        margin-left: 41rem;
        transition: all 0.4s;
    }

    .slides {
        width: 500px;
        height: 240px;
        display: flex;
    }

    #atual img {
        width: 500px;
        height: 240px;
        margin-left: 0rem;
    }

    .image img{
        width: 500px;
        height: 240px;
        margin-left: 31.2rem;
    }

    #img22 {
        width: 500px;
        height: 240px;
        margin-left: 17.8rem;
    }

    .balls {
        margin-top: 14rem;
        display: flex;
        margin-left: -7rem;
    }

    section {
        margin-top: 10rem;
    }

    .profile {
        margin-top: -18rem;
        width: 500px;
        margin-left: 41rem;
    }

    .fonts {
        margin-left: 13.5rem;
        margin-top: -25rem;
    }

    section img {
        width: auto;
        height: 12.5rem; 
        margin-left: 2.4rem;
        margin-top: 8rem;   
        float: left;
    }

    .legend p {
        color: rgba(88, 82, 97, 1);
        font-family: cairo;
    }

    .legend {
        width: 15rem;
        margin-left: 7rem;
        color: rgba(88, 82, 97, 1);
        font-style: normal;
        margin-top: 16rem;
    }

    .fonts p {
        font-size: 0.7rem;
        margin-top: 4rem;
    }

    #about {
        font-size: 17px;
        width: 40rem;
        margin-top: -5rem;
    }

    #font1 {
        margin-top: 12rem;
        font-size: 0.8rem;
        width: 14rem;
    }

    .contact-1 p {
        margin-top: 4rem;
    }

    .base {
        width: 100%;
    }

    #copyright {
        margin-left: 2rem;
        font-size: 0.7rem;
    }

    #by a {
        margin-left: 11.5rem;
        font-size: 0.7rem;
    }
}

@media (max-width: 480px){
    .container-all {
        margin-left: -41.3rem;
    }

    #btn-mobile {
        margin-left: 26rem;
    }

    #main ul img {
        margin-left: -2.5rem;
        margin-top: 6rem;
        width: 130px;
    }

    .base {
        width: 100%;
        height: 4rem;
        display: inline-block;
        text-align: center;
        margin-top: 12.5rem;
    }

    #copyright {
        margin-left: 0rem;
        font-size: 0.7rem;
        margin-top: 1.2rem;
        line-height: 1px;
    }

    #by a {
        margin-left: 0rem;
        font-size: 0.6rem;
    }
}

@media (max-width: 425px){
    * {
        max-width: 425px;
    }

    html, body {
        overflow-x: hidden;
     }

    .container-all {
        margin-left: -39.9rem;
    }

    
    #img22 {
        width: 500px;
        height: 240px;
        margin-left: 36rem;
    }

    
    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 22rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 10rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 10rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 60%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }


  
     #nav.active #menu1 {
        display: flex;
        margin-right: 0rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: -1.5rem;
        margin-top: 6.8rem;
        width: 110px;
    }

    #main ul li a {
        margin-left: -1rem;
    }

    .slide {
        display: flex;
        overflow: hidden;
        width: 380px;
        height: 200px;
        margin-left: 41rem;
        transition: all 0.4s;
    }

    .slides {
        width: 380px;
        height: 200px;
        display: flex;
    }

    #atual img {
        width: 380px;
        height: 200px;
        margin-left: 0.2rem;
    }

    .image img {
        width: 380px;
        height: 200px;
        margin-left: 39rem;
    }

    .balls {
        margin-top: -15rem;
        display: flex;
        margin-left: -19.5rem;
        display: none;
    }

    .fonts {
        margin-left: 9.5rem;
        margin-top: -20rem;
    }

    #font1 {
        margin-top: 12rem;
        font-size: 0.6rem;
        width: 12rem;

    }

    section img {
        width: auto;
        height: 12.5rem; 
        margin-left: 2.4rem;
        margin-top: 0rem;   
        float: left;
    }

    .profile img {
        margin-top: 3rem;
    }

    .legend p {
        color: rgba(88, 82, 97, 1);
        font-family: cairo;
        font-size: 0.5rem;
        margin-top: 0rem;      
    }

    .legend {
        width: 21rem;
        margin-left: 6.8rem;
        color: rgba(88, 82, 97, 1);
        font-style: normal;
        display: flex;
    }

    .profile {
        margin-top: 2rem;
        width: 380px;
        height: 250px;
        margin-left: 41.2rem;
    }

    section img {
        width: auto;
        height: 8rem;
        margin-left: 2rem;
        margin-top: 8rem;
        line-height: 2rem;
    }

    section {
        margin-top: -70rem;
    }

    #about {
        margin-top: 70rem;
        margin-left: 49.5rem;
    }


    .contact-1 p {
        margin-top: 7rem;
        font-size: 15px;
    }

    .contact {
        margin-top: 3rem;
    }

    .fa-facebook-f {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-whatsapp {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-envelope {
        font-size: 1rem;
        color: #878685;
    }

    .base {
        width: 100%;
        height: 4rem;
        display: inline-block;
        text-align: center;
        margin-top: 12.5rem;
    }

    #copyright {
        margin-left: 0rem;
        font-size: 0.7rem;
        margin-top: 1.2rem;
        line-height: 1px;
    }

    #by a {
        margin-left: 0rem;
        font-size: 0.6rem;
    }
}

@media (max-width: 414px){
    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 21rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    .container-all {
        margin-left: -40.6rem;
    }

    #main ul img {
        margin-left: -2rem;
    }
}

@media (max-width: 412px){
    * {
        max-width: 412px;
    }

    .container-all{
        margin-left: -40.65rem;
    }

    #img22 {
        width: 500px;
        height: 240px;
        margin-left: 36.8rem;
    }

    #about {
        margin-left: 49rem;
    }

    #main ul img {
        margin-left: -2rem;
    }
}

@media (max-width: 393px){

    .container-all {
        margin-left: -41.2rem;
    }

    #btn-mobile {
        margin-left: 20rem;
    }

    #menu1 {
        display: none;
        position: absolute;
        width: 70%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 12rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 12rem;
     }

     #main ul img {
        margin-left: -2rem;
    }
}

@media (max-width: 375px){
    * {
        max-width: 375px;
    }

    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: -41.8rem;
    }

    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 19rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 12rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 12rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 80%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }


  
     #nav.active #menu1 {
        display: flex;
        margin-right: -2rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: -1.5rem;
        margin-top: 6.8rem;
        width: 110px;
    }

    #main ul li a {
        margin-left: -0.5rem;
    }

    .slide {
        display: flex;
        overflow: hidden;
        width: 330px;
        height: 170px;
        margin-left: 42.9rem;
        transition: all 0.4s;
    }

    .slides {
        width: 330px;
        height: 170px;
        display: flex;
    }

    #atual img {
        width: 330px;
        height: 170px;
        margin-left: 0rem;
    }

    .image img {
        width: 330px;
        height: 170px;
        margin-left: 41.9rem;
    }

    #img22 {
        width: 330px;
        height: 170px;
        margin-left: 39rem;
    }

    .balls {
        margin-top: -16rem;
        display: flex;
        margin-left: -19.5rem;
        display: none;
    }

    .fonts {
        margin-left: 8.5rem;
        margin-top: -20rem;
    }

    #font1 {
        margin-top: 11rem;
        font-size: 0.6rem;
        width: 10rem;

    }

    section img {
        width: auto;
        height: 12.5rem; 
        margin-left: 2.4rem;
        margin-top: 0rem;   
        float: left;
    }

    .profile img {
        margin-top: 3rem;
    }

    .legend p {
        color: rgba(88, 82, 97, 1);
        font-family: cairo;
        font-size: 0.5rem;
        margin-top: 0rem;      
    }

    .legend {
        width: 21rem;
        margin-left: 5.8rem;
        color: rgba(88, 82, 97, 1);
        font-style: normal;
        display: flex;
    }

    .profile {
        margin-top: 2rem;
        width: 330px;
        height: 250px;
        margin-left: 42.8rem;
    }

    section img {
        width: auto;
        height: 8rem;
        margin-left: 1rem;
        margin-top: 8rem;
        line-height: 2rem;
    }

    .contact-1 p {
        margin-top: 5rem;
        font-size: 15px;
    }

    .contact {
        margin-top: 3rem;
    }

    .fa-facebook-f {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-whatsapp {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-envelope {
        font-size: 1rem;
        color: #878685;
    }

    .base {
        width: 100%;
        height: 3.5rem;
        display: inline-block;
        text-align: center;
        margin-top: 12.9rem;
    }

    #copyright {
        margin-left: 0rem;
        font-size: 0.7rem;
        margin-top: 1rem;
        line-height: 1px;
    }

    #by a {
        margin-left: 0rem;
        font-size: 0.6rem;
    }
}

@media (max-width: 360px){
    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: -42.3rem;
    }

    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 18.3rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 12rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 12rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 90%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }


  
     #nav.active #menu1 {
        display: flex;
        margin-right: -2rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: -1.5rem;
        margin-top: 6.8rem;
        width: 110px;
    }

    #main ul li a {
        margin-left: -0.5rem;
    }

    .slide {
        display: flex;
        overflow: hidden;
        width: 330px;
        height: 170px;
        margin-left: 42.9rem;
        transition: all 0.4s;
    }

    .slides {
        width: 330px;
        height: 170px;
        display: flex;
    }

    #atual img {
        width: 330px;
        height: 170px;
        margin-left: 0rem;
    }

    .image img {
        width: 330px;
        height: 170px;
        margin-left: 41.9rem;
    }

    #img22 {
        width: 330px;
        height: 170px;
        margin-left: 39rem;
    }

    .balls {
        margin-top: -16rem;
        display: flex;
        margin-left: -19.5rem;
        display: none;
    }

    #font1 {
        margin-top: 11rem;
        font-size: 0.6rem;
        width: 10rem;

    }

    section img {
        width: auto;
        height: 12.5rem; 
        margin-left: 2.4rem;
        margin-top: 0rem;   
        float: left;
    }

    .profile img {
        margin-top: 3rem;
    }

    .legend p {
        color: rgba(88, 82, 97, 1);
        font-family: cairo;
        font-size: 0.5rem;
        margin-top: 0rem;      
    }

    .legend {
        width: 21rem;
        margin-left: 5.8rem;
        color: rgba(88, 82, 97, 1);
        font-style: normal;
        display: flex;
    }

    .profile {
        margin-top: 2rem;
        width: 330px;
        height: 250px;
        margin-left: 42.8rem;
    }

    section img {
        width: auto;
        height: 8rem;
        margin-left: 1rem;
        margin-top: 8rem;
        line-height: 2rem;
    }

    .contact-1 p {
        margin-top: 5rem;
        font-size: 15px;
    }

    .contact {
        margin-top: 3rem;
    }

    .fa-facebook-f {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-whatsapp {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-envelope {
        font-size: 1rem;
        color: #878685;
    }

    .base {
        width: 100%;
        height: 5rem;
        display: inline-block;
        text-align: center;
        margin-top: 8rem;
    }

    #copyright {
        margin-left: 0rem;
        font-size: 0.7rem;
        margin-top: 1rem;
        line-height: 1px;
    }

    #by a {
        margin-left: 0rem;
        font-size: 0.6rem;
    }
}

@media (max-width: 320px) {
    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: -43rem;
    }

    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 16rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 12rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 12rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 95%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }


  
     #nav.active #menu1 {
        display: flex;
        margin-right: -2rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: -0.6rem;
        margin-top: 6.8rem;
        width: 110px;
    }

    #main ul li a {
        margin-left: -0.5rem;
    }

    .slide {
        display: flex;
        overflow: hidden;
        width: 330px;
        height: 170px;
        margin-left: 42.9rem;
        transition: all 0.4s;
    }

    .slides {
        width: 330px;
        height: 170px;
        display: flex;
    }

    #atual img {
        width: 330px;
        height: 170px;
        margin-left: 0rem;
    }

    .image img {
        width: 330px;
        height: 170px;
        margin-left: 41.9rem;
    }

    #img22 {
        width: 330px;
        height: 170px;
        margin-left: 39rem;
    }

    .balls {
        margin-top: -16rem;
        display: flex;
        margin-left: -19.5rem;
        display: none;
    }

    .fonts {
        margin-left: 8rem;
        margin-top: -20rem;
    }

    #font1 {
        margin-top: 11rem;
        font-size: 0.6rem;
        width: 10rem;

    }

    .profile img {
        margin-top: 3rem;
    }

    .legend p {
        color: rgba(88, 82, 97, 1);
        font-family: cairo;
        font-size: 0.5rem;
        margin-top: 0rem;      
    }

    .legend {
        width: 21rem;
        margin-left: 6.3rem;
        color: rgba(88, 82, 97, 1);
        font-style: normal;
        display: flex;
    }

    .profile {
        margin-top: 2rem;
        width: 330px;
        height: 250px;
        margin-left: 42.8rem;
    }

    section img {
        width: auto;
        height: 8rem;
        margin-left: 1.5rem;
        margin-top: 8rem;
        line-height: 2rem;
    }

    .contact-1 p {
        margin-top: 2rem;
        font-size: 15px;
    }

    .contact {
        margin-top: 3rem;
    }

    .fa-facebook-f {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-whatsapp {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-envelope {
        font-size: 1rem;
        color: #878685;
    }

    .base {
        width: 100%;
        height: 3.5rem;
        display: inline-block;
        text-align: center;
        margin-top: 12.9rem;
    }

    #copyright {
        margin-left: 0rem;
        font-size: 0.7rem;
        margin-top: 1rem;
        line-height: 1px;
    }

    #by a {
        margin-left: 0rem;
        font-size: 0.6rem;
    }
}