* {
    margin: 0;
    padding: 0;
}

#main {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 75.52%, rgba(196, 196, 196, 0.29) 100%);
    list-style: none;
    width: 100%;
    height: 6rem;
    overflow: hidden;
}

#main img {
    margin-top: -2rem;
    margin-left: 24.5rem;
    width: 160px;
}

#main ul {
    margin-right: 29.5rem;
    list-style-type: none;
}

#main ul li {
    display: inline;
    float: right;
    width: 80px;
    height: 5px;
    margin-top: 2.5rem;
    text-align: center;
}

#main ul li a {
    display: inline-block;
    text-decoration: none;
    color: rgba(12, 21, 65, 1);
}

.principal img {
    margin-top: 15rem;
    height: 1000px;
}

.FixoNoTopo {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}


