* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

#main {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 75.52%, rgba(196, 196, 196, 0.29) 100%);
    list-style: none;
    width: 100%;
    height: 6rem;
}

#main img {
    margin-top: -2rem;
    margin-left: 24.5rem;
    width: 160px;
    cursor: pointer;
}

#main ul {
    margin-right: 27rem;
}

#main ul li {
    display: inline;
    float: left;
    width: 80px;
    height: 5px;
    margin-top: 2.5rem;
    align-items: center;
}

#main ul li a {
    display: inline-block;
    text-decoration: none;
    color: #0C1541;
    font-family: RobotoFlex;
    font-size: 0.9rem;
}

#main ul li a:hover {
    color: rgb(122, 112, 82);
}

#space {
    margin-right: 0.7rem;
}

@font-face {
    font-family: RobotoFlex;
    src: url('./fonts/RobotoFlex[GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght].ttf');
}

.principal img {
    margin-top: 15rem;
    height: 1000px;
}

.FixoNoTopo {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
}

.slide{
    margin-left: 25rem;
    width: 1000px;
    height: 576px;
    overflow: hidden;
    transition: all 0.4s;
    display: flex;
}

.slides{
    width: 1000px;
    height: 446px;
    display: flex;
    margin-top: -1rem;
}

.image img {
    width: 1000px;
    height: 446px;
    margin-top: -1rem;
}

#atual{
    transition: all 2s;
}

.balls{
    color: rgb(0, 0, 0);
    position: absolute;
    width: 1024px;
    display: flex;
    justify-content: center;
    margin-top: -1rem;
}

.balls div{
    transition: all 0.5s;
    border: 2px solid rgb(172, 148, 42);
    opacity: 40%;
    padding: 3.2px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    display: flex;
    margin-top: 27rem;
}

.balls div:hover{
    background: rgb(0, 0, 0);
}

.imgAtual{
    transition: all 0.5s;
    background: rgb(0, 0, 0);}

section{
    margin-top: -6rem;
}

.profile {
    background: linear-gradient(180deg, #FFFFFF 1.56%, #FEF1F1 42.71%, rgba(249, 239, 239, 0) 100%);
    width: 1000px;
    height: 30rem;
    margin-left: 25rem;
    top: 35rem;
}

section img {
    width: auto;
    height: 20rem; 
    margin-left: 3rem;
    margin-top: 3rem;   
    float: left;
    margin-bottom: -1.5rem;
}

.legend {
    margin-top: 0rem;
    width: 7rem;
    margin-left: 8rem;
    color: rgba(88, 82, 97, 1);
    font-style: normal;
}

.legend p {
    color: rgba(88, 82, 97, 1);
    font-family: cairo;
}

.fonts {
    margin-left: 30rem;
    margin-top: -15rem;
}

.fonts p {
    margin-bottom: 2rem;
    color: rgba(88, 82, 97, 1);
    font-family: cairo;
}

@font-face {
    font-family: cairo-bold;
    src: url('./fonts/cairo-bold.ttf');
}

#font1 {
    color: rgba(88, 82, 97, 1);
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0.4rem;
    line-height: 2rem;
    font-family: cairo-bold;
    font-weight: bold;
    width: 30rem;
    text-align: justify;
}

#font2 {
    color: rgba(88, 82, 97, 1);
    font-size: 20px;
    font-family: cairo-bold;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.up {
    background: linear-gradient(180deg, #FFFFFF 1.56%, #FEF1F1 42.71%, rgba(249, 239, 239, 0) 100%);
    width: 1000px;
    height: 35rem;
    margin-left: 25rem;
    top: 65rem;
    display: flex;
    margin-bottom: 20rem;
}

#title {
    font-size: 20px;
    color: rgba(52, 37, 77, 1);
    margin-left: 55rem;
    margin-top: 5rem;
    font-family: cairo-bold;
}

#subtitle {
    font-weight: bold;
    color: rgba(88, 82, 97, 1);
    font-size: 15px;
    margin-top: 2rem;
    margin-left: 47.5rem;
    font-family: cairo-bold;
    
}

.up img {
    width: auto;
    height: 220px;
    margin-top: 4rem;
    margin-left: 11rem;
    border-radius: 3.5px
}

@font-face {
    font-family: BeVietnamPro-Bold;
    src: url(./fonts/BeVietnamPro-Bold.ttf);
}

.button1 {
    background-color: rgba(137, 99, 0, 0.8); 
    color: rgb(236, 236, 236); 
    border: 2px rgba(160, 138, 83, 0.849);
    width: 10rem;
    height: 1rem;
    margin-top: 20rem;
    margin-left: -35.5rem;
    border-radius: 5px;
    padding: 10px;
    font-family: BeVietnamPro-Bold;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 1px;

}

a {
    text-decoration: none;
}

.button1:hover {
    background-color: #f5e5b0;
    color: #929089;
}

@font-face {
    font-family: RobotoMono-VariableFont;
    src: url(./fonts/RobotoMono-VariableFont_wght.ttf);
}

.button2 {
    background-color: rgba(137, 99, 0, 0.8); 
    color: rgb(236, 236, 236);  
    border: 2px rgba(160, 138, 83, 0.849);
    width: 10rem;
    height: 1rem;
    margin-top: 20rem;
    margin-left: -14rem;
    border-radius: 5px;
    padding: 10px;
    font-family: BeVietnamPro-Bold;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 1px;
}

.button2:hover {
    background-color: #f5e5b0;
    color: #929089;
}


.contact-1 p {
    display: flex;
    font-size: 20px;
    color: rgba(52, 37, 77, 1);
    align-items: center;
    justify-content: center;
    margin-top: -15rem;
    font-family: cairo-bold;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-right: 0.5rem;
    
}

.fa-facebook-f {
    font-size: 2rem;
    margin-right: 2rem;
    color: #878685;
}

.fa-whatsapp {
    font-size: 2rem;
    margin-right: 2rem;
    color: #878685;
}

.fa-envelope {
    font-size: 2rem;
    color: #878685;
}

.base {
    background: #191525;
    margin-top: 8rem;
    width: 100%;
    height: 3rem;
    display: flex;
}

@font-face {
    font-family: Cairo-VariableFont_wght;
    src: url(./fonts/Cairo-VariableFont_wght.ttf);
}
#copyright {
    margin-left: 7.5rem;
    margin-top: 0.8rem;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-family: Cairo-VariableFont_wght;
}

#by {
    margin-top: 0.8rem;
}

#by a {
    margin-left: 75rem;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.8rem;
    font-family: Cairo-VariableFont_wght;
}

@media (max-width: 2560px){

    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: 23rem;
    }

    #main img {
        margin-top: 5rem;
        margin-left: 47rem;
    }
    
    #main ul {
        margin-top: -8rem;
    }

    #main ul li a {
        font-size: 1.1rem;
        margin-left: 82.5rem;

    }

    #main ul li {
        justify-content: space-evenly;
        margin-left: 0.4rem;
    }

    #copyright {
        margin-left: 25rem;
    }

    #by a {
        margin-left: 90rem;
    }
}

@media (max-width: 1920px){
    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: 3rem;
    }

    #main img {
        margin-top: 4.8rem;
        margin-left: 27.5rem;
    }
    
    #main ul {
        margin-top: -7.8rem;
    }

    #main ul li a {
        font-size: 0.95rem;
        margin-left: 62.1rem;
    }

    #copyright {
        margin-left: 15rem;
    }

    #by a {
        margin-left: 60rem;
    }
}

@media (max-width: 1900px){
    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: 0.7rem;
    }

    #main ul img {
        margin-left: 26rem;
        margin-top: 5rem;
        width: 130px;
    }

    #main ul li a {
        font-size: 0.80rem;
        margin-left: 67rem;
    }

    #main ul li {
        margin-left: -1rem;
        justify-content: space-evenly;
    }

    #main ul {
        margin-top: -7rem;
        margin-right: 27rem;
    }
}

@media (max-width: 1680px){
    .container-all {
        margin-left: -4.5rem;
    }

    #main ul img {
        margin-left: 20.5rem;
        margin-top: 5rem;
        width: 130px;
    }

    #main ul li a {
        font-size: 0.80rem;
        margin-left: 62.3rem;
    }
}

@media (max-width: 1600px){
    .container-all {
        margin-left: -7rem;
    }

    #main ul img {
        margin-left: 18.2rem;
        margin-top: 5rem;
        width: 130px;
    }

    #main ul li a {
        font-size: 0.80rem;
        margin-left: 59.5rem;
    }

    #copyright {
        margin-left: 10rem;
    }

    #by a {
        margin-left: 54rem;
    }
}

@media (max-width: 1440px){
    html, body {
        overflow-x: hidden;
    }
    .container-all {
        margin-left: -11.5rem;
    }
    
    #main ul img {
        margin-left: 13.3rem;
        margin-top: 5rem;
        width: 130px;
    }

    #main ul li a {
        font-size: 0.80rem;
        margin-left: 55rem;
    }

    #main ul li {
        margin-left: -1rem;
        justify-content: space-evenly;
    }

    #main ul {
        margin-top: -7rem;
        margin-right: 26.8rem;
    }

    #copyright {
        margin-left: 8rem;
    }

    #by a {
        margin-left: 50rem;
    }
}
@media (max-width: 1280px){
    *{
        max-width: 1280px;
    }

    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: -16.5rem;
    }

    #main img {
        margin-top: -2rem;
        margin-left: 9rem;
    }
    
    #main ul img {
        margin-left: 9rem;
        margin-top: 5rem;
        width: 130px;
    }

    #main ul li a {
        font-size: 0.80rem;
        margin-left: 50rem;
    }

    #main ul li {
        margin-left: -1rem;
        justify-content: space-evenly;
    }

    #main ul {
        margin-top: -7rem;
    }

    #copyright {
        margin-left: 8rem;
    }

    #by a {
        margin-left: 40rem;
    }
}

@media (max-width: 1024px){
    * {
        max-width: 1024px;
    }

    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: -25.5rem;
    }

    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 53.5rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 15rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 15rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 45%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }

     #nav.active #menu1 {
        display: flex;
        margin-right: -2rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: 7.3rem;
        margin-top: 6rem;
        width: 130px;
    }

    #main ul li a {
        margin-left: 3.5rem;
        font-size: 1.1rem;
    }

    #main ul li {
        margin-bottom: 1rem;
    }


    .slide {
        display: flex;
        overflow: hidden;
        width: 800px;
        height: 340px;
        margin-left: 32rem;
        transition: all 0.4s;
    }

    .slides {
        width: 800px;
        height: 340px;
        display: flex;
    }

    #atual img {
        width: 800px;
        height: 340px;
        margin-left: 1rem;
    }

    .image img {
        width: 800px;
        height: 340px;
        margin-left: 12.3rem;
    }

    .balls {
        margin-top: -7rem;
        display: flex;
        margin-left: -6.6rem;
    }

    .profile {
        margin-top: 8rem;
        width: 800px;
        margin-left: 32rem;
    }

    section img {
        width: auto;
        height: 17rem;
    }

    .legend p {
        font-size: 0.8rem;
        margin-left: 0.5rem;
        width: 10rem;
    }

    .fonts {
        margin-left: 22rem;
    }

    #title {
        margin-top: -1rem;
    }

    #subtitle {
        width: 50rem;
        margin-left: 48rem;
    }

    .up {
        width: 800px;
        margin-left: 32rem;
    }

    .up img {
        margin-left: 5rem;
    }

    .contact-1 p {
        margin-top: -15rem;
    }

    .base {
        width: 100%;
    }

    #copyright {
        margin-left: 2rem;
    }

    #by a {
        margin-left: 36rem;
    }
}

@media (max-width: 800px){
    #btn-mobile {
        margin-left: 44rem;
    }

    #main ul img {
        margin-left: 1rem;
        margin-top: 6rem;
        width: 130px;
    }

    #menu1 {
        display: none;
        position: absolute;
        width: 51%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    .container-all {
        margin-left: -33.2rem;
    }

    .base {
        width: 100%;
    }

    #copyright {
        margin-left: 2rem;
        font-size: 0.7rem;
    }

    #by a {
        margin-left: 23rem;
        font-size: 0.7rem;
    }
}

@media (max-width: 768px){
    * {
        max-width: 768px;
    }

    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: -33rem;
    }

    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 36.4rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 6rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 6rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 45%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }


  
     #nav.active #menu1 {
        display: flex;
        margin-right: -2rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: 7.5rem;
        margin-top: 6rem;
        width: 130px;
    }

    #main ul li a {
        margin-left: 1rem;
        
    }

    .slide {
        display: flex;
        overflow: hidden;
        width: 500px;
        height: 240px;
        margin-left: 41rem;
        transition: all 0.4s;
    }

    .slides {
        width: 500px;
        height: 240px;
        display: flex;
    }

    #atual img {
        width: 500px;
        height: 240px;
        margin-left: 0rem;
    }

    .image img {
        width: 500px;
        height: 240px;
        margin-left: 31.2rem;
    }

    .balls {
        margin-top: -13rem;
        display: flex;
        margin-left: -16rem;
    }

    .profile {
        margin-top: 8rem;
        width: 500px;
        margin-left: 41.2rem;
    }

    section img {
        width: auto;
        height: 10rem;
        margin-left: 1rem;
        margin-top: 5rem;
    }

    .legend p {
        font-size: 0.7rem;
        margin-left: -4.7rem;
        width: 10rem;   
        display: flex;
        padding-top: 0.8rem;
    }

    .fonts {
        margin-left: 14rem;
        margin-top: -10rem;
    }

    .fonts p {
        font-size: 0.8rem;
    }

    #font1 {
        font-size: 1rem;
    }

    #font2 {
        font-size: 1rem;
    }

    #title {
        margin-top: -2rem;
    }

    .up {
        width: 500px;
        margin-left: 41.2rem;
        margin-top: -10rem;
    }

    .up img {
        margin-left: 2.5rem;
        width: auto;
        height: 145px;
        margin-top: 12rem;
    }

    .button1 {
        margin-top: 23rem;
        margin-left: -23.5rem;
        width: 7rem;
        height: 0.7rem;
    }

    .button1 p {
    font-size: 0.6rem;
    }

    .button2 p {
    font-size: 0.6rem;
    }

    .button2 {
        margin-top: 23rem;
        margin-left: -9.5rem;
        width: 7rem;
        height: 0.7rem;
    }

    .contact-1 p {
        margin-top: -15rem;
    }

    .base {
        width: 100%;
    }

    #copyright {
        margin-left: 2rem;
        font-size: 0.7rem;
    }

    #by a {
        margin-left: 23rem;
        font-size: 0.7rem;
    }
}

@media (max-width: 720px){
    .container-all{
        margin-left: -34.7rem;
    }

    #btn-mobile {
        margin-left: 35rem;
    }

    #main ul img {
        margin-left: 5.5rem;
        margin-top: 6rem;
        width: 130px;
    }

    .balls {
        margin-top: -13rem;
        display: flex;
        margin-left: -8rem;
    }

    #title {
        margin-left: 54rem;
    }

    #subtitle {
        margin-left: 47rem;
    }

    .base {
        width: 100%;
    }

    #copyright {
        margin-left: 2rem;
        font-size: 0.7rem;
    }

    #by a {
        margin-left: 19.5rem;
        font-size: 0.7rem;
    }
}

@media (max-width: 600px){
    #btn-mobile {
        margin-left: 31.2rem;
    }

    #main ul img {
        margin-left: 2rem;
        margin-top: 6rem;
        width: 130px;
    }

    .container-all {
        margin-left: -38.4rem;
    }

    #menu1 {
        display: none;
        position: absolute;
        width: 55%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 11rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 11rem;
     }

    .balls {
        margin-left: -8.5rem;
    }

    #title {
        margin-left: 54rem;
    }

    #subtitle {
        margin-left: 47rem;
    }

    .base {
        width: 100%;
    }

    #copyright {
        margin-left: 2rem;
        font-size: 0.7rem;
    }

    #by a {
        margin-left: 12rem;
        font-size: 0.7rem;
    }
}

@media (max-width: 480px){

    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: -38.5rem;
    }

    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 24rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 12rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 12rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 80%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }
  
     #nav.active #menu1 {
        display: flex;
        margin-right: -2rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: 2.3rem;
        margin-top: 6.8rem;
        width: 110px;
    }

    #main ul li a {
        margin-left: -0.5rem;
    }

    .slide {
        display: flex;
        overflow: hidden;
        width: 385px;
        height: 200px;
        margin-left: 41.4rem;
        transition: all 0.4s;
    }

    .slides {
        width: 385px;
        height: 200px;
        display: flex;
    }

    #atual img {
        width: 385px;
        height: 200px;
        margin-left: -0.1rem;
    }

    .image img {
        width: 385px;
        height: 200px;
        margin-left: 38.2rem;
    }

    .balls {
        margin-top: -16rem;
        display: flex;
        margin-left: -1.5rem;
        display: none;
    }



    .profile {
        margin-top: 3rem;
        width: 380px;
        margin-left: 41.2rem;
    }

    section img {
        width: auto;
        height: 9rem;
        margin-left: 1rem;
        margin-top: 4rem;
    }

    .legend p {
        font-size: 0.6rem;
        margin-left: -4.8rem;
        width: 10rem;   
        display: flex;
        padding-top: 0.8rem;
        display: no;
    }

    .fonts {
        margin-left: 10rem;
        margin-top: -8rem;
    }

    .fonts p {
        font-size: 0.6rem;
    }

    #font1 {
        font-size: 0.8rem;
    }

    #font2 {
        font-size: 0.8rem;
    }

    #title {
        margin-top: -2rem;
        margin-left: 51.2rem;
        font-size: 15px;
    }

    #subtitle {
        font-size: 10px;
        margin-left: 46.5rem;
        width: 30rem;
        margin-top: 0.5rem;
    }

    .up {
        width: 380px;
        margin-left: 41.2rem;
        margin-top: -10rem;
    }

    .up img {
        margin-left: 1.5rem;
        width: auto;
        height: 115px;
        margin-top: 12rem;
    }

    .button1 {
        margin-top: 20rem;
        margin-left: -18.5rem;
        width: 5rem;
        height: 0.5rem;
    }

    .button1 p {
        font-size: 0.5rem;
    }

    .button2 p {
        font-size: 0.5rem;
    }

    .button2 {
        margin-top: 20rem;
        margin-left: -7.5rem;
        width: 5rem;
        height: 0.5rem;
    }

    .contact-1 p {
        margin-top: -22rem;
        font-size: 15px;
    }

    .contact {
        margin-top: 3rem;
    }

    .fa-facebook-f {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-whatsapp {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-envelope {
        font-size: 1rem;
        color: #878685;
    }

    .base {
        width: 100%;
        height: 3.5rem;
        display: inline-block;
        text-align: center;
        margin-top: 12.9rem;
    }

    #copyright {
        margin-left: 0rem;
        font-size: 0.7rem;
        margin-top: 1rem;
        line-height: 1px;
    }

    #by a {
        margin-left: 0rem;
        font-size: 0.6rem;
    }
}
@media (max-width: 425px){
    * {
        max-width: 425px;
    }

    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: -40.25rem;
    }

    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 20rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 12rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 12rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 80%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }
  
     #nav.active #menu1 {
        display: flex;
        margin-right: -2rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: 0.5rem;
        margin-top: 6.8rem;
        width: 110px;
    }

    #main ul li a {
        margin-left: -0.5rem;
    }

    .slide {
        display: flex;
        overflow: hidden;
        width: 385px;
        height: 200px;
        margin-left: 41.4rem;
        transition: all 0.4s;
    }

    .slides {
        width: 385px;
        height: 200px;
        display: flex;
    }

    #atual img {
        width: 385px;
        height: 200px;
        margin-left: -0.1rem;
    }

    .image img {
        width: 385px;
        height: 200px;
        margin-left: 38.2rem;
    }

    .balls {
        margin-top: -16rem;
        display: flex;
        margin-left: -1.5rem;
        display: none;
    }



    .profile {
        margin-top: 3rem;
        width: 380px;
        margin-left: 41.2rem;
    }

    section img {
        width: auto;
        height: 9rem;
        margin-left: 1rem;
        margin-top: 4rem;
    }

    .legend p {
        font-size: 0.6rem;
        margin-left: -4.8rem;
        width: 10rem;   
        display: flex;
        padding-top: 0.8rem;
        display: no;
    }

    .fonts {
        margin-left: 10rem;
        margin-top: -8rem;
    }

    .fonts p {
        font-size: 0.6rem;
    }

    #font1 {
        font-size: 0.8rem;
    }

    #font2 {
        font-size: 0.8rem;
    }

    #title {
        margin-top: -2rem;
        margin-left: 51.3rem;
        font-size: 15px;
    }

    #subtitle {
        font-size: 10px;
        margin-left: 46.5rem;
        width: 30rem;
        margin-top: 0.5rem;
    }

    .up {
        width: 380px;
        margin-left: 41.2rem;
        margin-top: -10rem;
    }

    .up img {
        margin-left: 1.5rem;
        width: auto;
        height: 115px;
        margin-top: 12rem;
    }

    .button1 {
        margin-top: 20rem;
        margin-left: -18.5rem;
        width: 5rem;
        height: 0.5rem;
    }

    .button1 p {
        font-size: 0.5rem;
    }

    .button2 p {
        font-size: 0.5rem;
    }

    .button2 {
        margin-top: 20rem;
        margin-left: -7.5rem;
        width: 5rem;
        height: 0.5rem;
    }

    .contact-1 p {
        margin-top: -22rem;
        font-size: 15px;
    }

    .contact {
        margin-top: 3rem;
    }

    .fa-facebook-f {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-whatsapp {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-envelope {
        font-size: 1rem;
        color: #878685;
    }

    .base {
        width: 100%;
        height: 3.5rem;
        display: inline-block;
        text-align: center;
        margin-top: 12.9rem;
    }

    #copyright {
        margin-left: 0rem;
        font-size: 0.7rem;
        margin-top: 1rem;
        line-height: 1px;
    }

    #by a {
        margin-left: 0rem;
        font-size: 0.6rem;
    }
}

@media (max-width: 414px){
   * {
        max-width: 414px;
    }

    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: -40.6rem;
    }

    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 20rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 12rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 12rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 80%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }


  
     #nav.active #menu1 {
        display: flex;
        margin-right: -2rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: 0.5rem;
        margin-top: 6.8rem;
        width: 110px;
    }

    #main ul li a {
        margin-left: -0.5rem;
    }

    .slide {
        display: flex;
        overflow: hidden;
        width: 380px;
        height: 200px;
        margin-left: 41.5rem;
        transition: all 0.4s;
    }

    .slides {
        width: 380px;
        height: 200px;
        display: flex;
    }

    #atual img {
        width: 380px;
        height: 200px;
        margin-left: 0rem;
    }

    .image img {
        width: 380px;
        height: 200px;
        margin-left: 39rem;
    }

    .balls {
        margin-top: -16rem;
        display: flex;
        margin-left: -0.4rem;
        display: none;
    }

    .profile {
        margin-top: 3rem;
        width: 380px;
        margin-left: 41.2rem;
    }

    section img {
        width: auto;
        height: 9rem;
        margin-left: 1rem;
        margin-top: 4rem;
    }

    .legend p {
        font-size: 0.6rem;
        margin-left: -4.8rem;
        width: 10rem;   
        display: flex;
        padding-top: 0.8rem;
        display: no;
    }

    .fonts {
        margin-left: 10rem;
        margin-top: -8rem;
    }

    .fonts p {
        font-size: 0.6rem;
    }

    #font1 {
        font-size: 0.8rem;
    }

    #font2 {
        font-size: 0.8rem;
    }

    #title {
        margin-top: -2rem;
        margin-left: 51.3rem;
        font-size: 15px;
    }

    #subtitle {
        font-size: 10px;
        margin-left: 46.5rem;
        width: 30rem;
        margin-top: 0.5rem;
    }

    .up {
        width: 380px;
        margin-left: 41.2rem;
        margin-top: -10rem;
    }

    .up img {
        margin-left: 1.5rem;
        width: auto;
        height: 115px;
        margin-top: 12rem;
    }

    .button1 {
        margin-top: 20rem;
        margin-left: -18.5rem;
        width: 5rem;
        height: 0.5rem;
    }

    .button1 p {
        font-size: 0.5rem;
    }

    .button2 p {
        font-size: 0.5rem;
    }

    .button2 {
        margin-top: 20rem;
        margin-left: -7.5rem;
        width: 5rem;
        height: 0.5rem;
    }

    .contact-1 p {
        margin-top: -22rem;
        font-size: 15px;
    }

    .contact {
        margin-top: 3rem;
    }

    .fa-facebook-f {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-whatsapp {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-envelope {
        font-size: 1rem;
        color: #878685;
    }

    .base {
        width: 100%;
        height: 3.5rem;
        display: inline-block;
        text-align: center;
        margin-top: 12.9rem;
    }

    #copyright {
        margin-left: 0rem;
        font-size: 0.7rem;
        margin-top: 1rem;
        line-height: 1px;
    }

    #by a {
        margin-left: 0rem;
        font-size: 0.6rem;
    }
}


@media (max-width: 412px){
    * {
        max-width: 412px;
    }

    html, body {
        overflow-x: hidden;
    }

    .container-all{
        margin-left: -40.7rem;
    }

    #title {
        margin-left: 51.2rem;
    }
}

@media (max-width: 393px){
    .container-all{
        margin-left: -41.1rem;
    }

    .slide {
        margin-left: 41rem;
    }

    .image img {
        width: 380px;
        height: 200px;
        margin-left: 39.1rem;
    }

    #atual img {
        width: 380px;
        height: 200px;
        margin-left: 0.1rem;
    }
}

@media (max-width: 375px){
    * {
        max-width: 375px;
    }

    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: -41.8rem;
    }

    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 20rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 12rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 12rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 80%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }


  
     #nav.active #menu1 {
        display: flex;
        margin-right: -2rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: 0.2rem;
        margin-top: 6.8rem;
        width: 110px;
    }

    #main ul li a {
        margin-left: -0.5rem;
    }

    .slide {
        display: flex;
        overflow: hidden;
        width: 330px;
        height: 170px;
        margin-left: 42.9rem;
        transition: all 0.4s;
    }

    .slides {
        width: 330px;
        height: 170px;
        display: flex;
    }

    #atual img {
        width: 330px;
        height: 170px;
        margin-left: 0rem;
    }

    .image img {
        width: 330px;
        height: 170px;
        margin-left: 41.9rem;
    }

    .balls {
        margin-top: -18rem;
        display: flex;
        margin-left: -0.4rem;
        display: none;
    }

    .profile {
        margin-top: 3rem;
        width: 330px;
        margin-left: 42.75rem;
    }

    section img {
        width: auto;
        height: 9rem;
        margin-left: 0.1rem;
        margin-top: 4rem;
    }

    .legend p {
        font-size: 0.6rem;
        margin-left: -5.6rem;
        width: 10rem;   
        display: flex;
        padding-top: 0.8rem;
        display: no;
    }

    .fonts {
        margin-left: 9.5rem;
        margin-top: -8rem;
    }

    .fonts p {
        font-size: 0.6rem;
    }

    #font1 {
        font-size: 0.7rem;
    }

    #font2 {
        font-size: 0.7rem;
    }

    #title {
        margin-top: -2rem;
        margin-left: 51.6rem;
        font-size: 15px;
    }

    #subtitle {
        font-size: 10px;
        margin-left: 46.6rem;
        width: 30rem;
        margin-top: 0.5rem;
    }

    .up {
        width: 330px;
        margin-left: 42.75rem;
        margin-top: -10rem;
    }

    .up img {
        margin-left: 1.5rem;
        width: auto;
        height: 97px;
        margin-top: 12rem;
    }

    .button1 {
        margin-top: 20rem;
        margin-left: -15.5rem;
        width: 5rem;
        height: 0.5rem;
    }

    .button1 p {
        font-size: 0.5rem;
    }

    .button2 p {
        font-size: 0.5rem;
    }

    .button2 {
        margin-top: 20rem;
        margin-left: -6.5rem;
        width: 5rem;
        height: 0.5rem;
    }

    .contact-1 p {
        margin-top: -22rem;
        font-size: 15px;
    }

    .contact {
        margin-top: 3rem;
    }

    .fa-facebook-f {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-whatsapp {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-envelope {
        font-size: 1rem;
        color: #878685;
    }

    .base {
        width: 100%;
        height: 3.5rem;
        display: inline-block;
        text-align: center;
        margin-top: 12.9rem;
    }

    #copyright {
        margin-left: 0rem;
        font-size: 0.7rem;
        margin-top: 1rem;
        line-height: 1px;
    }

    #by a {
        margin-left: 0rem;
        font-size: 0.6rem;
    }
}

@media (max-width: 360px) {
    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: -42.25rem;
    }

    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 18.5rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 12rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 12rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 80%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }


  
     #nav.active #menu1 {
        display: flex;
        margin-right: -2rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: 0.2rem;
        margin-top: 6.8rem;
        width: 110px;
    }

    #main ul li a {
        margin-left: -0.5rem;
    }

    .slide {
        display: flex;
        overflow: hidden;
        width: 330px;
        height: 170px;
        margin-left: 42.9rem;
        transition: all 0.4s;
    }

    .slides {
        width: 330px;
        height: 170px;
        display: flex;
    }

    #atual img {
        width: 330px;
        height: 170px;
        margin-left: 0rem;
    }

    .image img {
        width: 330px;
        height: 170px;
        margin-left: 41.9rem;
    }

    .balls {
        margin-top: -18rem;
        display: flex;
        margin-left: -0.4rem;
        display: none;
    }

    .profile {
        margin-top: 3rem;
        width: 330px;
        margin-left: 42.75rem;
    }

    section img {
        width: auto;
        height: 9rem;
        margin-left: 0.1rem;
        margin-top: 4rem;
    }

    .legend p {
        font-size: 0.6rem;
        margin-left: -5.6rem;
        width: 10rem;   
        display: flex;
        padding-top: 0.8rem;
        display: no;
    }

    .fonts {
        margin-left: 9.5rem;
        margin-top: -8rem;
    }

    .fonts p {
        font-size: 0.6rem;
    }

    #font1 {
        font-size: 0.7rem;
    }

    #font2 {
        font-size: 0.7rem;
    }

    #title {
        margin-top: -2rem;
        margin-left: 51.6rem;
        font-size: 15px;
    }

    #subtitle {
        font-size: 10px;
        margin-left: 46.8rem;
        width: 30rem;
        margin-top: 0.5rem;
    }

    .up {
        width: 330px;
        margin-left: 42.75rem;
        margin-top: -10rem;
    }

    .up img {
        margin-left: 1.5rem;
        width: auto;
        height: 97px;
        margin-top: 12rem;
    }

    .button1 {
        margin-top: 20rem;
        margin-left: -15.5rem;
        width: 5rem;
        height: 0.5rem;
    }

    .button1 p {
        font-size: 0.5rem;
    }

    .button2 p {
        font-size: 0.5rem;
    }

    .button2 {
        margin-top: 20rem;
        margin-left: -6.5rem;
        width: 5rem;
        height: 0.5rem;
    }

    .contact-1 p {
        margin-top: -22rem;
        font-size: 15px;
    }

    .contact {
        margin-top: 3rem;
    }

    .fa-facebook-f {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-whatsapp {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-envelope {
        font-size: 1rem;
        color: #878685;
    }

    .base {
        width: 100%;
        height: 3.5rem;
        display: inline-block;
        text-align: center;
        margin-top: 12.9rem;
    }

    #copyright {
        margin-left: 0rem;
        font-size: 0.7rem;
        margin-top: 1rem;
        line-height: 1px;
    }

    #by a {
        margin-left: 0rem;
        font-size: 0.6rem;
    }
}


@media (max-width: 320px) {
    * {
        max-width: 320px;
    }

    html, body {
        overflow-x: hidden;
    }

    .container-all {
        margin-left: -42.6rem;
    }

    #btn-mobile {
        position: absolute;
        display: block;
        margin-left: 16rem;
        width: 5rem;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        position: fixed;
        z-index: 180;
        width: 2rem;
        margin-top: 3.1rem;
    }

    #hamburger {
        width: 20px;
        border-top: 2px solid;
        color: rgb(104, 112, 143);
        cursor: pointer;
        z-index: 180;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
     }
  
     #nav.active #hamburger::before {
        transform: rotate(135deg);
        right: 12rem;
     }
  
     #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        right: 12rem;
     }

     #main {
         width: 100%;
         display: flex;
     }

    #menu1 {
        display: none;
        position: absolute;
        width: 90%;
        height: 100vh;
        top: 5rem;
        right: 0px;    
        flex-direction: column;
        text-align: center;
    }

    #menu1 li a {
        font-size: 1.1rem;
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 20rem;
        margin-top: 5rem;
        text-decoration: none;
       }


  
     #nav.active #menu1 {
        display: flex;
        margin-right: -2rem;
        background-color: #ffffff;
        box-shadow: -10px 0px 30px -15px;
        z-index: 150;
        position: fixed;
        height: 100%;
        margin-top: -5rem;  
     }

    #main ul img {
        margin-left: -0.4rem;
        margin-top: 6.8rem;
        width: 110px;
    }

    #main ul li a {
        margin-left: -0.5rem;
    }

    .slide {
        display: flex;
        overflow: hidden;
        width: 330px;
        height: 170px;
        margin-left: 42.9rem;
        transition: all 0.4s;
    }

    .slides {
        width: 330px;
        height: 170px;
        display: flex;
    }

    #atual img {
        width: 330px;
        height: 170px;
        margin-left: -0.45rem;
    }

    .image img {
        width: 330px;
        height: 170px;
        margin-left: 42.35rem;
    }

    .balls {
        margin-top: -18rem;
        display: flex;
        margin-left: 0rem;
        display: none;
    }

    .profile {
        margin-top: 3rem;
        width: 330px;
        margin-left: 42.75rem;
    }

    section img {
        width: auto;
        height: 8rem;
        margin-left: 0.1rem;
        margin-top: 4rem;
    }

    .legend p {
        font-size: 0.6rem;
        margin-left: -6.2rem;
        width: 10rem;   
        display: flex;
        padding-top: 0.8rem;
        display: no;
    }

    .fonts {
        margin-left: 8.5rem;
        margin-top: -7rem;
    }

    .fonts p {
        font-size: 0.6rem;
    }

    #font1 {
        font-size: 0.7rem;
    }

    #font2 {
        font-size: 0.7rem;
    }

    #title {
        margin-top: -2rem;
        margin-left: 50.5rem;
        font-size: 15px;
    }

    #subtitle {
        font-size: 10px;
        margin-left: 46.1rem;
        width: 30rem;
        margin-top: 0.5rem;
    }

    .up {
        width: 330px;
        margin-left: 42.75rem;
        margin-top: -10rem;
    }

    .up img {
        margin-left: 0.55rem;
        width: auto;
        height: 97px;
        margin-top: 12rem;
    }

    .button1 {
        margin-top: 20rem;
        margin-left: -15.5rem;
        width: 5rem;
        height: 0.5rem;
    }

    .button1 p {
        font-size: 0.5rem;
    }

    .button2 p {
        font-size: 0.5rem;
    }

    .button2 {
        margin-top: 20rem;
        margin-left: -6.5rem;
        width: 5rem;
        height: 0.5rem;
    }

    .contact-1 p {
        margin-top: -22rem;
        font-size: 15px;
    }

    .contact {
        margin-top: 3rem;
    }

    .fa-facebook-f {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-whatsapp {
        font-size: 1rem;
        margin-right: 2rem;
        color: #878685;
    }
    
    .fa-envelope {
        font-size: 1rem;
        color: #878685;
    }

    .base {
        width: 100%;
        height: 3.5rem;
        display: inline-block;
        text-align: center;
        margin-top: 12.9rem;
    }

    #copyright {
        margin-left: 0rem;
        font-size: 0.7rem;
        margin-top: 1rem;
        line-height: 1px;
    }

    #by a {
        margin-left: 0rem;
        font-size: 0.6rem;
    }
}



